[Unit]
Description=Platform es1227_36ts_p PoE cfg lldp Service
After=pmon.service es1227_36ts_p-init.service
DefaultDependencies=no

[Service]
TimeoutStartSec=130s
ExecStartPre=/bin/sh -c 'echo "PoE service: Pre-start sleep for 120 seconds beginning..." && /bin/sleep 120 && echo "PoE service: Pre-start sleep finished."'
ExecStart=/usr/bin/python3 /usr/local/bin/poe_cfg_lldp.py
Restart=on-failure
RestartSec=5
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
#StandardOutput=tty

[Install]
WantedBy=multi-user.target
