[Unit]
Description=Platform es1227_36ts_p OOB LED Service
After=pmon.service es1227_36ts_p-init.service
DefaultDependencies=no

[Service]
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/local/bin/es1227_36ts_p-oob-led.sh
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
Restart=on-failure
RestartSec=5s
#StandardOutput=tty

[Install]
WantedBy=multi-user.target
